{% extends 'forms/base.html' %}

{% block title %}
<span class="branding w3-bar-item w3-mobile" id="logged">Hello! {{name}} You are Logged in.</span>
{% endblock %}

{% block nav %}
<button class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-center w3-hover-green w3-active-orange" id="applybtn">Apply Leave</button>
<a class="w3-bar-item w3-button w3-mobile w3-border-bottom w3-center w3-hover-green w3-active-orange" id="profilebtn" href="/sup">Approvals</a>
{% endblock %}

{% block note %}{% endblock %}
{% block logout %}Logout{% endblock %}
{% block content %}
<form action='/apply' method="post">
	{% csrf_token %}
	<div id="apply">
		<div class="w3-container w3-cell-row w3-mobile" id="span" 
			style="width:100%; height: 450px; border: 1px solid green; border-radius: 15px; padding: 10px;">
			<div>
				<h1 class="w3-border-bottom w3-center"style="margin-bottom: 20px;">LEAVE APPLICATION</h1>

				<div class="group w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<Label>Name:</Label>
						<input type="text" value="{{full_name}}" name="name">
					</div>
					<div class="group w3-cell">
						<Label>Personal Number:</Label>
						<input type="text" value="{{pjnum}}" name="pjnumber" disabled>
					</div>
					<div class="group w3-cell">
						<Label>Designation:</Label>
						<input type="text" value="{{designation}}" name="designation">
					</div>
				</div>
	
				<div class="group w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<Label>Section:</Label>
						<input type="text" value="{{section}}" name="section">
					</div>
					<div class="group w3-cell">
						<Label>Station:</Label>
						<input type="text" value="{{station}}" name="station">
					</div>
					<div class="group w3-cell">
						<Label>Email Address:</Label>
						<input type="text" value="{{email}}" name="email" disabled>
					</div>
				</div>
				<div class="group w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<Label>Current Phone Number:</Label>
						<input type="number" value="{{number}}" name="number">
					</div>
					
				</div>

				<div class="w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<label>Number of day(s) Requested: </label>
						<input type="number" placeholder="Number of Days" name="days" required>
					</div>
					<div class="group w3-cell">
						<Label>From:</Label>
						<input type="date" placeholder="Date" required>
					</div>
					<div class="group w3-cell">
						<Label>To:</Label>
						<input type="date" placeholder="Date" required>
					</div>
				</div>
				<div class="w3-cell-row" style="margin-bottom: 20px;">
					<div class="w3-cell">
						<Label>Type of Leave:</Label>
						<select name="typ">
							<option disabled>Select Type</option>
							<option >Annual</option>
							<option >Sick</option>
							<option >Maternity</option>
							<option >Paternity</option>
							<option >Compassionate</option>
							<option>Others</option>
						</select>
					</div>
					<div class="group w3-cell">
						<Label>Effective From:</Label>
						<input type="date" placeholder="When Effective From" name="from_date" required>
					</div>
					<div class="group w3-cell">
						<Label>To:</Label>
						<input type="date" placeholder="Date" name="to_date" required>
					</div>
					<div class="group w3-cell">
						<Label>Report Back Date:</Label>
						<input type="date" placeholder="Report Back Date" name="report" required>
					</div>
				</div>
				<div  class="group w3-cell-row" style="margin-bottom: 20px;">
					<Label>Specify (if Others):</Label>
					<input class="w3-input" type="text" name="specify" placeholder="Specify">
				</div>
				<p>While on Leave contact me through:</p>
				<div  class="group w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<Label>Address:</Label>
						<input type="text" placeholder="Your Address" name="address" required>
					</div>
					<div class="group w3-cell">
						<Label>Telephone:</Label>
						<input type="text" placeholder="Telephone Number" name="lnumber" required>
					</div>
				</div>
				<div class="group w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<Label>Signature:</Label>
						<input type="text" value="{{name}}" placeholder="First Name" name="fname" disabled>
					</div>
					<div class="group w3-cell">
						<Label>Date:</Label>
						<input type="date" placeholder="Date" name="date">
					</div>
				</div>
				<p>Enter the Details of your Executive Officer:</p>
				<div class="group w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<Label>Executive's First Name:</Label>
						<input type="text" placeholder="Executive's First Name" name="efname" required>
					</div>
					<div class="group w3-cell">
						<Label>Executive's Last Name:</Label>
						<input type="text" placeholder="Executive's Last Name" name="elname" required>
					</div>
				</div>
				<p>Enter the Details of your Direct Supervisor:</p>
				<div class="group w3-cell-row" style="margin-bottom: 20px;">
					<div class="group w3-cell">
						<Label>Supervisor's First Name:</Label>
						<input type="text" placeholder="Supervisor's First Name" name="sfname" required>
					</div>
					<div class="group w3-cell">
						<Label>Supervisor's Last Name:</Label>
						<input type="text" id='Comment' placeholder="Supervisor's Last Name" name="slname" required>
					</div>
				</div>
				<div class="w3-center">
					<input type="submit" value="Apply" class="w3-button w3-card w3-green w3-hover-orange w3-large">
				</div>
									
			</div>
		</div>
	</div>
</form>

<div id="history">
    <div class="w3-container w3-cell-row w3-center w3-mobile" style="width:100%">
        <h1 class="w3-border-bottom">My History</h1>
    </div>
    <div class="w3-container w3-cell-row w3-mobile"
    	style="width:100%; height: 450px; border: 1px solid green; border-radius: 15px; padding: 10px;">

        <p>
            Application for annual leave should be submitted 14 days before leave commences, except sick leave.<br>
            Other than annual leaves please attach relevant supprting documents for reference. Leave is Processed at the station<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    
        </p>	
    </div>
</div>
{% for message in messages %}
    <script>alert('{{message}}')</script>
{% endfor %}

{% if user.is_authenticated %}
	<script>
	$('#applybtn').css('background', 'orange')
	$('#history').hide();
	$('#back').hide();
	$('#profile').hide();
	$('#homebtn').hide();
	$('#registerbtn').hide();
	$('#loginbtn').hide();
	$('#unlogged').hide();


	$('#applybtn').click(function(){
		$('#applybtn').css('background', 'orange')
		$('#profilebtn').css('background', '')
		$('#historybtn').css('background', '')
		$('#back').hide();
		$('#apply').show();
		$('#history').hide();
		$('#profile').hide();
	});

	$('#historybtn').click(function(){
		$('#applybtn').css('background', '')
		$('#profilebtn').css('background', '')
		$('#historybtn').css('background', 'orange')
		$('#back').hide();
		$('#apply').hide();
		$('#history').show();
		$('#profile').hide();
	});

	$('#profilebtn').click(function(){
		$('#applybtn').css('background', '')
		$('#profilebtn').css('background', 'orange')
		$('#historybtn').css('background', '')
		$('#back').hide();
		$('#apply').hide();
		$('#history').hide();
		$('#profile').show();
	});
	</script>

{% else %}
	<script>
		$('*').hide()
		alert('You Can\'t View this Page Unless you are logged in.')
	</script>
{% endif %}
{%endblock%}

