{% extends 'forms/base.html' %}

{% block title %}
<span class="branding w3-bar-item w3-mobile" id="logged">Hello! {{name}} You are Logged in.</span>
{% endblock %}

{% block nav %}
<a class="w3-bar-item w3-button w3-mobile w3-center w3-active-orange w3-hover-green" id="pendingbtn" 
href="#">Pending</a>
<a class="w3-bar-item w3-button w3-mobile w3-center w3-active-orange w3-hover-green" id="applybtn" 
href="/apply">Apply Leave</a>
<a class="w3-bar-item w3-button w3-mobile w3-center w3-active-orange w3-hover-green" id="onleavebtn" 
href="#onleave">On Leave</a>
{% endblock %}

{% block note %}{% endblock %}
{% block logout %}Logout{% endblock %}
{% block content %}

<div id="assess">
    {% for leave in leaves %}
    <form action='/assess' method="post" class="approve">
        {% csrf_token %}
        <div class="w3-container w3-cell-row w3-mobile" id="span" 
            style="width:100%; height: 450px; border: 1px solid green; border-radius: 15px; padding: 10px;">
            <table class="w3-table w3-bordered w3-hoverable">
                <div class="w3-border-bottom">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Type of Leave</th>
                        <th>Applied On</th>
                        <th>Leave Id</th>
                    </tr>
                    
                    <tr>
                        <td>{{leave.staff.user.first_name}}</td>
                        <td>{{leave.staff.user.last_name}}</td>
                        <td>{{leave.leave_type}}</td>
                        <td>{{leave.date}}</td>
                        <td class="w3-center"><input value="{{leave.id}}" name="leave_id"></td>
                    </tr>
                    
                <div>
            </table>
            <table class="w3-table w3-bordered w3-hoverable" style="margin-bottom: 20px;">
                <div>
                    <tr>
                        <th>DESCRIPTION</th>
                        <th>NUMBER OF DAYS</th>
                    </tr>
                    <tr>
                        <td>Applicant's Leave Balance From Last Year</td>
                        <td><input type="text" value="{{leave.staff.prev_year_bal}}" name="prev_year_bal"></td>
                    </tr>
                    <tr>
                        <td>Leave Entitlement For the Current Year</td>
                        <td><input type="text" value="{{leave.staff.entitlement}}" name="entitlement"></td>
                    </tr>
                    <tr>
                        <td>Total Leave Days For the Current Year</td>
                        <td><input type="text" value="total_leave_days" disabled></td>
                    </tr>
                    <tr>
                        <td>Leave days taken so far this Year</td>
                        <td><input type="text" value="{{leave.staff.days_taken}}" name="days_taken"></td>
                    </tr>
                    <tr>
                        <td>Leave Balance as of Today</td>
                        <td><input type="text" value="{{leave.staff.balance}}" disabled></td>
                    </tr>
                    <tr>
                        <td>Leave being Taken</td>
                        <td><input type="text" value="{{leave.days}}" name="days"></td>
                    </tr>
                    <tr>
                        <td>Leave Balance to be Carried Forward</td>
                        <td><input type="text" placeholder="Add Leave Balance" name="balance"></td>
                    </tr>
                    
                <div>
            </table>

            <div class="group w3-cell-row" style="margin-bottom: 5px;">
                <Label>Comment:</Label>
            </div>
            <div class="group w3-cell-row" style="margin-bottom: 20px;">
                <textarea rows="2" cols="50" name = "comments"></textarea>
            </div>
            <div class="w3-cell-row" style="margin-bottom: 20px;">
                <label>Name of the Person Reconciling: </label>
                <input type="text" value="{{full_name}}" disabled>
            </div>
            <div class="w3-cell-row" style="margin-bottom: 20px;">
                <div class="group w3-cell">
                    <label>Signature: </label>
                    <input type="text" value="{{name}}" disabled>
                </div>
                <div class="group w3-cell">
                    <Label>Date:</Label>
                    <input type="date" placeholder="Date" name="Date" required>
                </div>
            </div>
            <div class="w3-cell-row" style="margin-bottom: 20px;">
                <div class="group w3-cell w3-center">
                    <button class="w3-button w3-green w3-hover-orange">Save</button>
                </div>
            </div>
        </div>
    </form>
    {%endfor%}
</div>

<div id="onleave">
    <div class="w3-container w3-cell-row w3-mobile" id="span" 
        style="width:100%; height: 450px; border: 1px solid green; border-radius: 15px; padding: 10px;">
        <h1 class="w3-border-bottom w3-center">STAFF ON LEAVE</h1>
        <table class="w3-table w3-bordered w3-hoverable">
            <div>
                <tr>
                    <th>Name</th>
                    <th>Type of Leave</th>
                    <th>Since</th>
                    <th>Upto</th>
                    <th>Report Back Date</th>
                </tr>
                <tr>
                    <td>Andrew Kibet</td>
                    <td>Paternity</td>
                    <td>6/7/2022</td>
                    <td>6/7/2022</td>
                    <td>8/7/2022</td>
                </tr>
            <div>
        </table>
    </div>
</div>

<script>
    
    
    {% if user.is_authenticated %}
    {% for message in messages %}
        alert('{{message}}')
    {% endfor %}
    
    $('#onleave').hide() 
    $('#onleavebtn').click(function(){
        $('#assess').hide() 
    })    


    {% else %}
        <script>
            $('*').hide()
            alert('You Can\'t View this Page Unless you are logged in.')
        </script>
    {% endif %}


    
</script>

{% endblock %}