{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Kericho Law Courts</title>
	<link rel="stylesheet" type="text/css" href="{% static 'forms/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'forms/w3.css' %}">
	<script type="text/javascript" src="{% static 'forms/jquery/jquery.js' %}"></script>
</head>
<body>
	<div class="container">
		<div class="w3-bar w3-cell-row w3-border w3-round-large w3-green" id="top"
		style="height: 20px;">
			<span class="branding w3-bar-item w3-mobile">{% block title %} {% endblock %}</span>
			<span class="w3-right w3-mobile">
				<a class="w3-bar-item w3-button w3-mobile w3-hover-orange w3-active w3-active-orange" href="#">Leave</a>
				<a class="w3-bar-item w3-button w3-mobile w3-hover-orange" href="#">PAS</a>
				<a class="w3-bar-item w3-button w3-mobile w3-hover-orange" href="#">Link 2</a>
				<a class="w3-bar-item w3-button w3-mobile w3-hover-orange" href="#">link 3</a>
			</span>
		</div>

		<div class="w3-cell-row">
			<div class="w3-container w3-green w3-cell w3-bar-block w3-border w3-round-large" id="nav"
			 style="width:15%; max-height: 60000px;">
			  <div class="w3-bar-item" id="iconbar">
				<img src="{% static 'forms/imges/jcsi1.png' %}" class="w3-circle" alt="Judiciary Kenya">
			  </div>
			  <div class="w3-bar-item w3-center" id="span" style="font-size: 20px; color: orange;">Judicial Service Commission</div>
			  <span>
				{% block nav %}
				{% endblock %}
			  </span>		  
			</div>
			<div class="w3-container w3-cell" style="width:80%; height:650px; max-height:100000px">
				<div class="w3-container w3-cell-row" id="span" style="width:100%; color: red; padding:10px;">
					<span class="w3-mobile" id="note">
						{% block note %} {% endblock %}
					</span>
					<span class="w3-right w3-mobile w3-cell" style="width:100%;" id="logoutbtn">
						<a class="w3-bar-item w3-button w3-right w3-mobile w3-hover-red" style="color: red; border: 1px solid green; border-radius: 10px;" href="/signout">
							{% block logout %} {% endblock %}
						</a>
					</span>	
				</div>
				{% block content %} 

				{% endblock %}
			</div>
		</div>

	</div>

	
</body>
</html>